body{
    font-family: roboto-back, sans-serif;
    text-decoration: none;
    height: 1280px;
}

/* HEADER START*/
.header{
    margin-top: 30px;
    margin-bottom: 30px;

}

.menu{
    width: 580px;
    text-align: center;
    margin: 0 auto;
}

.botton-menu{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    color: #16a085;
    padding-right: 55px;
}
/* HEADER END */

.top-img{
    margin: 0 auto;
    text-align: center;
    width: 1280px;
    background-color: rgba(0, 0, 0, 0.02);
}

/* CONTENT START */
.content{
    padding-bottom: 50px;
    height: 370px;
    width: 1280px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 100px;
    background-color: rgba(0, 0, 0, 0.02);
}

.title{
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 25px;
}

.text{
    width: 950px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 3px;
    margin: 0 auto;
}

.paragraph{
margin-bottom: 25px;
line-height: 1.5;
}

.botton{
    margin: 0 auto;
    text-transform: uppercase;
    vertical-align: middle;
    text-align: center;
    line-height: 50px;
    width: 150px;
    font-size: 12px;
    color: #ffffff;
    background-color: #16a085;
}
/* CONTENT END */

.about-us{
    width: 1280px;
    margin: 0 auto;
    text-align: center; 
}

.our-team{
    display: inline-block;
    padding-right: 200px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 3px;
}

.copyright{
    display: inline-block;
    padding-left: 200px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 3px;
}