body{
    font-family: Verdana, sans-serif;
    text-decoration: none;
    height: 1280px;
}

.header{
    height: 1280px;
    margin: 0 auto;
}

.menu{
        /* text-align: center; */
        display:block;
        margin: 0 auto;
    }
h2{
    text-align: center;
    font-family: sans-serif;
}    
p{
    text-align: center;
    font-family: sans-serif;
}    

.text{
    width: 800px;
    padding-left: 265px;
}

.f1{
    font-family: Arial;
    display: inline-block;
    padding-top: 100px;
    padding-left: 250px
}

.f2{
    font-family: Arial;
    font-size: 10pt;
    display: inline-block;
    padding-left: 350px
}
    
.botton1{
    float: left;
    line-height: 50px;
    font-size: 14pt;
    font-weight: 600;
    background: rgb(255, 251, 255);
    color: #16a085;
    margin-top: 60px;
    width: 150px;
    padding-left: 10px;
    margin-right: 10px;
    font-family: Arial;
    text-align: center;
    display: inline-block;
    }
.botton2{
    float: left;
    line-height: 50px;
    font-size: 14pt;
    font-weight: 600;
    background: rgb(255, 251, 255);
    color: #16a085;
    padding-left: 350px;
    margin-top: 60px;
    width: 150px;
    margin-right: 10px;
    font-family: Arial;
    text-align: center;
    display: inline-block;
    }
.botton3{
    float: left;
    line-height: 50px;
    font-size: 14pt;
    font-weight: 600;
    background: rgb(255, 251, 255);
    color: #16a085;
    margin-top: 60px;
    width: 150px;
    margin-right: 10px;
    font-family: Arial;
    text-align: center;
    display: inline-block;
    }
.botton4{
    float: left;
    line-height: 50px;
    font-size: 14pt;
    font-weight: 600;
    background: rgb(255, 251, 255);
    color: #16a085;
    margin-top: 60px;
    width: 150px;
    margin-right: 10px;
    font-family: Arial;
    text-align: center;
    display: inline-block;
    }
.botton5{
    float: center;
    line-height: 40px;
    font-size: 8pt;
    font-weight: 600;
    background: #16a085;
    color: #ffffff;
    margin-left: 600px;
    margin-top: 60px;
    width: 100px;
    margin-right: 10px;
    font-family: Arial;
    text-align: center;
    display: inline-block;
}

.divf2{
    font-family: Arial; 
    display: inline-block;
}